<div class="menu">

    <div class="menu-lateral">
        <div class="lateral">
            <div>
                <a href=""><img src="/img/logo.png" alt="Logo"></a>
            </div>
            <div class="icone-menu">
                <a href=""><img src="https://api.iconify.design/ep/user-filled.svg?color=white" alt="Perfil"></a>
            </div>
            <div class="icone-menu">
                <a href=""><img src="/img/cardapio-left.png" alt="cardapio"></a>
            </div>
            <div class="icone-menu">
                <a href=""><img src="/img/carrinho-left.png" alt="carrinho"></a>
            </div>
            <div class="icone-menu">
                <a href=""><img src="/img/acompanha-pedido-left.png" alt="pedido"></a>
            </div>
            <div class="icone-menu">
                <a href=""><img src="/img/sair-left.png" alt="sair"></a>
            </div>



        </div>

    </div>

</div>