<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Burger</title>
    <link rel="stylesheet" href="./pagamento.css">
</head>
<body>
    <main>
    <div class="menu">

        <div class="menu-lateral">
            <div class="lateral">
                <div>
                    <a href=""><img src="/img/logo.png" alt="Logo"></a>
                </div>
                <div class="icone-menu">
                    <a href=""><img src="/img/perfil-left.png" alt="Perfil"></a>
                </div>
                <div class="icone-menu">
                    <a href=""><img src="/img/cardapio-left.png" alt="cardapio"></a>
                </div>
                <div class="icone-menu">
                    <a href=""><img src="/img/carrinho-left.png" alt="carrinho"></a>
                </div>
                <div class="icone-menu">
                    <a href=""><img src="/img/acompanha-pedido-left.png" alt="pedido"></a>
                </div>
                <div class="icone-menu">
                    <a href=""><img src="/img/sair-left.png" alt="sair"></a>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="container">
            <h1>Pagamento Aprovado</h1>
            <div class="apro-caixa">
                <img src="./Check.png" alt="">  
            <p><br> Seu pedido foi confirmado</p>
            </div>

            <div class="caixa-resumo">
                <h2>Resumo do pedido</h2>
            </div>
        </div>

        <div class="semirodape">
            <button class="botao"><a href=""> Proxima Pagina</a> </button>
        </div>
    </main>
    <footer>
        <div class="caixa1-footer">
            <div class="rodape-text">
                <p>Copyrigth © 2021 Best Burger </p>
            </div>
        </div>
        <div class="caixa2-footer">
            <div class="rodape-redes">
                <a href="">
                    <img src="/img/icone-whats.png" alt="icone-whats">
                </a>
                <a href="">
                    <img src="/img/icone-facebook.png" alt="icone-facebook">
                </a>
                <a href="">
                    <img src="/img/icone-instagram.png" alt="icone-instagram">
                </a>
            </div>
        </div>
    
    </footer>     <footer>
            <div class="caixa1-footer">
                <div class="rodape-text">
                    <p>Copyrigth © 2021 Best Burger </p>
                </div>
            </div>
            <div class="caixa2-footer">
                <div class="rodape-redes">
                    <a href="">
                        <img src="/img/icone-whats.png" alt="icone-whats">
                    </a>
                    <a href="">
                        <img src="/img/icone-facebook.png" alt="icone-facebook">
                    </a>
                    <a href="">
                        <img src="/img/icone-instagram.png" alt="icone-instagram">
                    </a>
                </div>
            </div>
        </footer> 
</body>
</html>