<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Best Hamburguer</title>

    <link rel="stylesheet" href="/css/cadastro.css">


</head>

<body>

    <figure class="imagen-left">
        <img src="/img/pagina-loginho.jpg" alt="Imagens Lateral">
    </figure>
    </div>

    <section class="container">
        <h1>Inscreva-se</h1>
        <div class="dados">
            <div>
                <form class="formulario" action="/cadastro " method="POST">

                    <div class="dados2">

                        <div class="caixa1">
                            <label for="nome">Nome</label>
                            <div>
                                <!--input type="text" name="Nome" id="nome" required-->
                                <input type="text" placeholder="Insira seu nome">
                            </div>
                        </div>
                        <div class="caixa1">
                            <label for="sobrenome">Sobrenome</label>
                            <div>
                                <!--input type="text" name="Nome" id="nome" required-->
                                <input type="text" name="sobrenome" placeholder="Insira seu nome">
                            </div>
                        </div>


                    </div>
                    <div class="dados2">
                        <div class="caixa1">
                            <label for="celular">CPF</label>
                            <input type="text" class="form-control" placeholder="000.000.000-00">
                        </div>
                        <div class="caixa2">
                            <label for="email">Data de Nascimento</label>
                            <input type="date" class="form-control" placeholder="email@email.com">
                        </div>
                    </div>
                    <div class="dados2">
                        <div class="caixa1">
                            <label for="celular">Celular</label>
                            <input type="tel" class="form-control" placeholder="(DDD) 9 999-9999">
                        </div>
                        <div class="caixa2">
                            <label for="genero">Genero</label>
                            <select name="Genero" id="genero">
                            <option selected disabled>-Selecione-</option>
                            <option value="">Masculino</option>
                            <option value="">Feminino</option>
                            <option value="">Outros</option>                       
                        </select>
                        </div>

                    </div>
                    <div class="caixa3">
                        <label for="senha">Email</label>
                        <input type="text" class="form-control" placeholder="email@exemplo.com.br">
                    </div>
                    <div class="caixa3">
                        <label for="senha">Senha</label>
                        <input type="text" class="form-control" placeholder="Insira o seu nome">
                    </div>
            </div>
        </div>
        <button type="submit">criar uma conta</button>
        <div>
            <a href="/login">
                <h4>já é um membro? Conecte-se</h4>
            </a>
        </div>
        </form>
    </section>
    <footer>
        <div class="caixa1-footer">
            <div class="rodape-text">
                <p>Copyrigth © 2021 Best Burger </p>
            </div>
        </div>
        <div class="caixa2-footer">
            <div class="rodape-redes">
                <a href="">
                    <img src="/img/icone-whats.png" alt="icone-whats">
                </a>
                <a href="">
                    <img src="/img/icone-facebook.png" alt="icone-facebook">
                </a>
                <a href="">
                    <img src="/img/icone-instagram.png" alt="icone-instagram">
                </a>

            </div>
        </div>

    </footer>


</body>

</html>