<%- include('./partials/head')%>

    <body>

        <figure class="imagen-left">
            <img src="/img/pagina-loginho.jpg" alt="Imagens Lateral">
        </figure>
        </div>

        <section class="container">
            <h1>Inscreva-se</h1>
            <div class="dados">
                <div>
                    <form class="formulario" action="/cadastro " method="POST">

                        <div class="dados2">

                            <div class="caixa1">
                                <label for="nome">Nome</label>
                                <div>
                                    <input type="text" name="Nome" id="nome" required>
                                </div>
                            </div>
                            <div class="caixa2">
                                <label for="nome">Sobrenome</label>
                                <div>
                                    <input type="text" name="Sobrenome" id="Sobrenome" required>
                                </div>
                            </div>

                        </div>


                        <div class="caixa3">
                            <label for="email">Email</label>
                            <input type="email" name="Email" id="email" required>
                        </div>
                        <div class="caixa3">
                            <label for="senha">Senha</label>
                            <input type="password" name="senha" id="senha" required>
                        </div>



                </div>
            </div>
            <button type="submit">criar uma conta</button>
            <div>
                <a href="">
                    <h4>já e uma menbro?Conecte-se</h4>
                </a>
            </div>
            </form>
        </section>


    </body>

    </html>