<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Hamburguer</title>
    <link rel="stylesheet" href="/css/cardapioacompanhamentos.css">

</head>

<body>
    <main>
        <div class="menu">

            <div class="menu">

                <div class="menu-lateral">
                    <div class="lateral">
                        <div>
                            <a href=""><img src="/img/logo.png" alt="Logo"></a>
                        </div>
                        <div class="icone-menu">
                            <a href=""><img src="/img/perfil-left.png" alt="Perfil"></a>
                        </div>
                        <div class="icone-menu">
                            <a href=""><img src="/img/cardapio-left.png" alt="cardapio"></a>
                        </div>
                        <div class="icone-menu">
                            <a href=""><img src="/img/carrinho-left.png" alt="carrinho"></a>
                        </div>
                        <div class="icone-menu">
                            <a href=""><img src="/img/acompanha-pedido-left.png" alt="pedido"></a>
                        </div>
                        <div class="icone-menu">
                            <a href=""><img src="/img/sair-left.png" alt="sair"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="flexcardapio">
            <nav>
                <div class="container-cardapio">
                    <h1>Cardápio</h1>
                    <div>
                        <ul>
                            <li><a href="">Hamburguer</a></li>
                            <li><a href="">Bebidas</a></li>
                            <li><a href="">Acompanhamentos</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <section class="tudo">
                <div class="flex">
                    <% for (let listadeprodutos of produtos ){%>
                        <div class="flexbox-img">
                            <img src=<%=listadeprodutos.img%> width="200px" height="250px">
                            <span><%=listadeprodutos.nome%></span>
                            <span class="preco">R$ <%=listadeprodutos.preco%> </span>
                            <button>Adicionar</button>
                        </div>
                        <%}%>



                </div>
            </section>
            <div class="semirodape">
                <button class="botao"><a href=""> Proxima Pagina</a> </button>
            </div>


            <div class="whats">
                <div class="botaowhats">
                    <a href=""><img src="logos_whatsapp.png" / width="50px" height="50px"></a>
                </div>
            </div>
        </div>
    </main>



    <footer>
        <div class="caixa1-footer">
            <div class="rodape-text">
                <p>Copyrigth © 2021 Best Burger </p>
            </div>
        </div>
        <div class="caixa2-footer">
            <div class="rodape-redes">
                <a href="">
                    <img src="/img/icone-whats.png" alt="icone-whats">
                </a>
                <a href="">
                    <img src="/img/icone-facebook.png" alt="icone-facebook">
                </a>
                <a href="">
                    <img src="/img/icone-instagram.png" alt="icone-instagram">
                </a>
            </div>
        </div>
    </footer>
</body>

</html>