<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Hamburguer</title>
    <link rel="stylesheet" href="/css/cardapiohamburgueres.css">

</head>

<body>
    <main>
        <div class="menu">

            <div class="menu">

                <div class="menu-lateral">
                    <div class="lateral">
                        <div>
                            <a href=""><img src="/img/logo.png" alt="Logo"></a>
                        </div>
                        <div class="icone-menu">
                            <a href=""><img src="/img/perfil-left.png" alt="Perfil"></a>
                        </div>
                        <div class="icone-menu">
                            <a href=""><img src="/img/cardapio-left.png" alt="cardapio"></a>
                        </div>
                        <div class="icone-menu">
                            <a href=""><img src="/img/carrinho-left.png" alt="carrinho"></a>
                        </div>
                        <div class="icone-menu">
                            <a href=""><img src="/img/acompanha-pedido-left.png" alt="pedido"></a>
                        </div>
                        <div class="icone-menu">
                            <a href=""><img src="/img/sair-left.png" alt="sair"></a>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    
    
    
        <div class="flexcardapio">
            <nav>
                <div class="container-cardapio">
                    <h1>Cardápio</h1>
                    <div>
                        <ul>
                            <li><a href="">Hamburguer</a></li>
                            <li><a href="">Bebidas</a></li>
                            <li><a href="">Acompanhamentos</a></li>
                        </ul>
                    </div>
               </div>
            </nav>
    
        <section class="tudo">
            <div class="flex">
                <div class="flexbox-img">
                    <img src="burguer-1.jfif" width="200px" height="250px">
                    <span>hamburger duplo</span>
                    <span class="preco">R$ 45,00</span>
                    <button>Adicionar</button>
                </div>
                  
                <div class="flexbox-img2">
                    <img src="burguer-2.png" width="200px" height="250px"> 
                    <span>hamburger 2</span> 
                    <span class="preco">R$ 50,00</span> 
                    <button>Adicionar</button> 
                </div>
            
                <div class="flexbox-img3">
                    <img src="burguer-3.jpg" width="200px" height="250px">
                    <span class="bolinho">hamburguer 3</span>
                    <span class="preco">R$ 27,00</span>
                    <button>Adicionar</button>
                </div>
            
                <div class="flexbox-img4">
                    <img src="burguer-4.jpg" width="200px" height="250px">
                    <span>hamburguer 4 </span>
                    <span class="preco">R$ 29,00</span>
                    <button>Adicionar</button>
                </div>
            </div>
            
            <div class="flex2">
                <div class="flexbox-img5">
                    <img src="burguer-5.jpg" width="200px" height="250px">
                    <span>hamburguer 5 </span>
                    <span class="preco">R$ 30,00</span>
                    <button>Adicionar</button>
                </div>
                  
            
                <div class="flexbox-img6">
                    <img src="burguer-6.jpg" width="200px" height="250px"> 
                    <span>hamburguer 6</span> 
                    <span class="preco">R$ 42,00</span>
                    <button>Adicionar</button>
                 </div>
            
                 <div class="flexbox-img7">
                    <img src="burguer-7.jpg" width="200px" height="250px">
                    <span>hamburguer 7</span>
                    <span class="preco">R$ 30,00</span>
                    <button>Adicionar</button>
                </div>
            
                <div class="flexbox-img8">
                    <img src="burguer-8.jpg" width="200px" height="250px">
                    <span>hamburguer 8</span>
                    <span class="preco">R$ 35,00</span>
                    <button>Adicionar</button>
                </div>
            </div>
        </section>
        <div class="semirodape">
            <button class="botao"><a href=""> Proxima Pagina</a> </button>
        </div>

         
          <div class="whats">
              <div class="botaowhats">
                  <a href=""><img src="logos_whatsapp.png"/ width="50px" height="50px"></a>
              </div>
          </div>
      </div>
    </main>

        
    
    <footer>
        <div class="caixa1-footer">
            <div class="rodape-text">
                <p>Copyrigth © 2021 Best Burger </p>
            </div>
        </div>
        <div class="caixa2-footer">
            <div class="rodape-redes">
                <a href="">
                    <img src="/img/icone-whats.png" alt="icone-whats">
                </a>
                <a href="">
                    <img src="/img/icone-facebook.png" alt="icone-facebook">
                </a>
                <a href="">
                    <img src="/img/icone-instagram.png" alt="icone-instagram">
                </a>
            </div>
        </div>
    </footer> 
</body>

</html>