<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="/css/carrinho.css">
</head>

<body>

    <section id="Container-Pai">

        <div class="menu">

            <div class="menu-lateral">
                <div class="lateral">
                    <div>
                        <a href=""><img src="/img/logo.png" alt="Logo"></a>
                    </div>
                    <div class="icone-menu">
                        <a href=""><img src="https://api.iconify.design/ep/user-filled.svg?color=white"
                                alt="Perfil"></a>
                    </div>
                    <div class="icone-menu">
                        <a href=""><img src="/img/cardapio-left.png" alt="cardapio"></a>
                    </div>
                    <div class="icone-menu">
                        <a href=""><img src="/img/carrinho-left.png" alt="carrinho"></a>
                    </div>
                    <div class="icone-menu">
                        <a href=""><img src="/img/acompanha-pedido-left.png" alt="pedido"></a>
                    </div>
                    <div class="icone-menu">
                        <a href=""><img src="/img/sair-left.png" alt="sair"></a>
                    </div>

                </div>

            </div>

        </div>

        <section id="Container-Produtos">

            <div id="Estilo-Produtos">

                <header>
                    <h1>Carrinho</h1>
                </header>

                <div id="produtos">
                    <ul>
                        <li class="Item"> <a href=""> <img src="/img/carrossel-1.jpg" alt="Seu produto">
                                <p>Burguer 1</p>
                            </a> </li>
                        <li class="Item"> <a href=""> <img src="/img/carrossel-2.jpg" alt="Seu produto">
                                <p>Burguer 2</p>
                            </a> </li>
                        <li class="Item"> <a href=""> <img src="/img/carrossel-3.jpg" alt="Seu produto">
                                <p>Burguer 3</p>
                            </a> </li>
                    </ul>
                </div>

            </div>

        </section>

        <section id="Container-Subtotal-Cupom">

            <div id="Container-Subtotal">
                <div id="Subtotal">
                    <h3>Seu Subtotal</h3>
                    <p>Subtotal: R$</p>
                    <div class="button-borders">
                        <button class="primary-button">Confirmar Compra</button>
                      </div>
                    <!-- botão de Confirmar Compra -->
                </div>
            </div>

            <div id="Container-Cupom">
                <div id="Cupons">
                    <h3>Código Promocional</h3>
                    <!--label for="insira o codigo">Insira o código</label-->
                    <input type="text" class="form-control" placeholder="Insira o cupom">
                    <button class="primary-button">Aplicar</button>
                    <!-- <form action="text"> </form> -->
                    <!-- botão 'aplicar' -->
                </div>
            </div>

        </section>

    </section>

    <footer>
        <div class="caixa1-footer">
            <div class="rodape-text">
                <p>Copyrigth © 2021 Best Burger </p>
            </div>
        </div>
        <div class="caixa2-footer">
            <div class="rodape-redes">
                <a href="">
                    <img src="/img/icone-whats.png" alt="icone-whats">
                </a>
                <a href="">
                    <img src="/img/icone-facebook.png" alt="icone-facebook">
                </a>
                <a href="">
                    <img src="/img/icone-instagram.png" alt="icone-instagram">
                </a>

            </div>
        </div>
    </footer>

</body>

</html>