<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Carrinho</title>
    
    <link rel="stylesheet" href="/css/carrinho.css">
    <link rel="stylesheet" href="/css/menuLateral.css">

</head>

<body>

    <section id="Container-Pai">

        <%- include('./partials/menuLateral') %>

        <section id="container-Header-E-Produtos">

            <header>
                <h1>Carrinho</h1>
            </header>

            <div id="produtos">
                
                <ul id="lista-Produtos">

                    <li class="Item"> <a href=""><img src="/img/carrossel-1.jpg" alt="Seu produto">
                        <p>Burguer 1</p></a> 
                    </li>
                    <li class="Item"> <a href=""><img src="/img/carrossel-2.jpg" alt="Seu produto">
                        <p>Burguer 2</p></a> 
                    </li>
                    <li class="Item"> <a href=""><img src="/img/carrossel-3.jpg" alt="Seu produto">
                        <p>Burguer 3</p></a> 
                    </li>

                </ul>

            </div>

        </section>

        <section id="container-Subtotal-Cupom">

            <div id="container-Subtotal">
                <h3>Seu Subtotal</h3>
                <p>R$ xx,xx</p>
                <button type="button" id="botaoConfirmar">Confirmar Compra</button>
            </div>

            <div id="container-Cupom">
                <div id="Cupons">
                    <h3>Código Promocional</h3>
                    <form action="" id="formDoCupom">
                        <label for="cupom"></label>
                        <input type="text" name="cupom" id="inputCupom" placeholder="Insira um Cupom" />
                        <button id="botaoCupom" type="submit">Aplicar</button>
                    </form>
                </div>
            </div>

        </section>

    </section>

</body>

</html>