<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Hamburguer</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>

    <div class="container-login100 ">

        <div class="limiter">

            <div class="login100-more " style="background-image: url( '/img/login-left.jpg'); "></div>
            <div class="limiter2">
                <form class="login100">
                    <div class="login10">

                        <div class="bnt-login bnt-txt">
                            <a href="#" name="login">Login</a>
                        </div>
                        <div class="bnt-reg ">
                            <a href="/cadastro" name="login">Registre-se</a>
                        </div>
                    </div>
                    <span class="login-texto">
					<h1>Bem-Vindo</h1>	
					<p>Por favor acesse sua conta</p>
					</span>
                    <div class="input-limit">
                        <div class=" login-input  ">
                            <label class="input-texto" for=" Email ">Username ou E-mail</label>
                            <input class="input-form" type="email " name="Email " id="email " required>

                        </div>
                        <div class="login-input ">
                            <label class="input-texto" for="senha">Senha</label>
                            <input class="input-form" type="password " name="senha" id="senha">

                        </div>
                    </div>
                    <div class="container-login100-form-btn ">

                        <div>
                            <a href="# " class="txt2 ">
                                Esqueceu a senha
                            </a>

                        </div>
                        <div class="bnt-login bnt-envia">
                            <button name="envia " id='envia ' type="submit ">OK</button> </a>
                        </div>



                    </div>
                    <div class="caixa-google">
                        <span class="google-bnt ">
                           
                                
                                <a class = 'google' href="# "> <img src='https://api.iconify.design/flat-color-icons/google.svg?color=red' alt="google">entre com google </a>
                          
                       </span>
                        <p>Terms and Conditions & Privacy Policy</p>


                    </div>
            </div>

            </form>






        </div>

    </div>

    </div>

    </div>



    </div>

</body>

</html>