<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/css/minhaConta.css">

    <title>Minha Conta</title>

</head>


<body>
    
<h1> Minha Conta </h1>

<div id="FotoDePerfil">
    <img src="" alt="Sua foto de perfil">
    <!-- adicionar botão 'Alterar Imagem' -->
</div>

<div id="MenusInterativos">
<ul>
    <li> 
        <a href="">Chat</a>
        <img class="IconeMenus" src="" alt="">]
    </li>

    <li> 
        <a href="">Meus Pedidos</a> 
        <img class="IconeMenus" src="" alt="">
    </li>

    <li>
        <a href="">Formas de Pagamento</a> 
        <img class="IconeMenus" src="" alt="">
    </li>

    <li>
        <a href="">Meus cupons</a> 
        <img class="IconeMenus" src="" alt="">
    </li>

    <li>
        <a href="">Editar Dados</a> 
        <img class="IconeMenus" src="" alt="">
    </li>
</ul>
</div>


</body>

</html>