<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/minhaConta.css">

    <title>Minha Conta</title>

</head>

<body>

    <section id="Container-Pai">
        
        <%- include('./partials/menuLateral') %>

        <section id="container-Menu-Fotos-Header">

            <header>
                <h1>Minha Conta</h1>
            </header>

            <div id="Container-Menu-Fotos">

                <section id="container-Menu">

                    <ul class="listaItensMenu">

                        <li class="itemMenu">
                            <a href="">
                            <img src="/img/meus-produtos-perfil.png" alt="" class="icone">
                                <p>Meus Pedidos</p>
                            </a>
                        </li>

                        <li class="itemMenu">
                            <a href="">
                                <img src="/img/forma-pagamento-perfil.png" alt="" class="icone">
                                <p>Formas de Pagamento</p>
                            </a>
                        </li>

                    </ul>

                    <ul class="listaItensMenu">

                        <li class="itemMenu">
                            <a href="">
                                <img src="/img/cupon-perfil.png" alt="" class="icone">
                                <p>Cupom</p>
                            </a>
                        </li>

                        <li class="itemMenu">
                            <a href="">
                                <img src="/img/settings-perfil.png" alt="" class="icone">
                                <p>Configurações</p>
                            </a>
                        </li>

                    </ul>
                    
                </section>

                <div id="foto-DePerfil-E-Decoracao">

                    <a href=""><img src="/img/foto-perfil.png" alt="Sua foto de perfil"></a>

                    <form action="/minhaconta" method="post" id="FormFotoDePerfil">
                        <label for="ArquivoFotoDePerfil"></label>
                        <input type="file" name="ArquivoFotoDePerfil" id="ArquivoFotoDePerfil" accept=".jpg">
                    </form>

                </div>

            </div>

        </section>

    </section>

</body>

</html>