<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/minhaConta.css">

    <title>Minha Conta</title>

</head>


<body>

    <section id="Container-Pai">

        <div class="menu">

            <div class="menu-lateral">

                <div class="lateral">

                    <div>
                        <a href=""><img src="/img/logo.png" alt="Logo"></a>
                    </div>
                    <div class="icone-menu">
                        <a href=""><img src="https://api.iconify.design/ep/user-filled.svg?color=white"
                                alt="Perfil"></a>
                    </div>
                    <div class="icone-menu">
                        <a href=""><img src="/img/cardapio-left.png" alt="cardapio"></a>
                    </div>
                    <div class="icone-menu">
                        <a href=""><img src="/img/carrinho-left.png" alt="carrinho"></a>
                    </div>
                    <div class="icone-menu">
                        <a href=""><img src="/img/acompanha-pedido-left.png" alt="pedido"></a>
                    </div>
                    <div class="icone-menu">
                        <a href=""><img src="/img/sair-left.png" alt="sair"></a>
                    </div>

                </div>
            </div>

        </div>

        <section id="Container-Menus-Fotos">

            <header>
                <h1>Minha Conta</h1>
            </header>

            <div id="FotoDePerfil">
                <a href=""><img src="/img/foto-perfil.png" alt="Sua foto de perfil"></a>
                <p><a href="">Alterar Foto</a></p>
            </div>

            <section id="Container-Menu-Foto">

                <nav id="Coluna1">

                    <div class="IconesDoMenu">
                        <a href="" class="Icone">
                            <img src="/img/chat-perfil.png" alt="">Chat</a>
                        </a>
                    </div>

                    <div class="IconesDoMenu"> 
                        <a href="" class="Icone">
                            <img src="/img/meus-produtos-perfil.png" alt=""> Produtos
                        </a>
                    </div>
                   
                    <div class="IconesDoMenu">
                        <a href="" class="Icone">
                            <img src="/img/forma-pagamento-perfil.png" alt="">
                            <p>Formas de Pagamento</p>
                        </a>
                    </div>

                </nav>

                <nav id="Coluna2">

                    <div class="IconesDoMenu">
                        <a href="" class="Icone">
                            <img src="/img/cupon-perfil.png" alt=""> Cupom
                        </a>
                    </div>
                    
                    <div class="IconesDoMenu">
                        <a href="" class="Icone">
                            <img src="/img/settings-perfil.png" alt=""> Configurações
                        </a>
                    </div>
                       
                </nav>

            </section>

        </section>

    </section>

</body>

</html>