<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Best Hamburguer</title>
    <link rel="stylesheet" href="/css/pagamentoPix.css">
    <link rel="stylesheet" href="/css/carousel.css">


</head>

<body>
    <div class="container">
        <nav class="menu">

            <div class="menu-lateral">
                <div class="lateral">
                    <div>
                        <a href=""><img src="/img/logo-pagamento-pix.png" alt="Logo"></a>
                    </div>
                    <div class="icone-menu">
                        <a href=""><img src="https://api.iconify.design/ep/user-filled.svg?color=white" alt="Perfil"></a>
                    </div>
                    <div class="icone-menu">
                        <a href=""><img src="/img/cardapio-left.png" alt="cardapio"></a>
                    </div>
                    <div class="icone-menu pagamento-pix">
                        <a href=""><img src="/img/carrinho-left.png" alt="carrinho"></a>
                    </div>
                    <div class="icone-menu">
                        <a href=""><img src="/img/acompanha-pedido-left.png" alt="pedido"></a>
                    </div>
                    <div class="icone-menu">
                        <a href=""><img src="/img/sair-left.png" alt="sair"></a>
                    </div>
                </div>


            </div>



        </nav>

        <div class="caixa">
            <div class="pag-caixa">
                <h1>Pagamento</h1>
                <div class="galeria">
                    <div class="gallery-container">
                        <a href=""><img class="gallery-item" src="/img/Card-Pay.png"></a>
                        <a href=""><img class="gallery-item" src="/img/pix.png"></a>
                        <a href=""><img class="gallery-item" src="/img/money.png"></a>
                    </div>

                </div>
                <div class=pix>
                    <img src="/" alt="">


                </div>




            </div>
        </div>


</body>

</html>