<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento</title>
    <link rel="stylesheet" href="./pagamentoEntrega.css">
</head>
<body>
    <!-- MENU LATERAL -->
  <!--div class="container">
    <nav class="menu">

        <div class="menu-lateral">
            <div class="lateral">
                <div>
                    <a href=""><img src="/img/logo.png" alt="Logo"></a>
                </div>
                <div class="icone-menu">
                    <a href=""><img src="/img/perfil-left.png" alt="Perfil"></a>
                </div>
                <div class="icone-menu">
                    <a href=""><img src="/img/cardapio-left.png" alt="cardapio"></a>
                </div>
                <div class="icone-menu">
                    <a href=""><img src="/img/carrinho-left.png" alt="carrinho"></a>
                </div>
                <div class="icone-menu">
                    <a href=""><img src="/img/acompanha-pedido-left.png" alt="pedido"></a>
                </div>
                <div class="icone-menu">
                    <a href=""><img src="/img/sair-left.png" alt="sair"></a>
                </div>
            </div>
          </div>
    </nav>
  </div-->
<div>
  <h1>Forma de Pagamento</h1>
    <section class="card-opcao">
        <div class="opcoes">
            <div class="opcao-1">       
            <input type="radio">
            <img src="./img/money.png" alt="">
            <select name="nao precisa de troca" id="">Não precisa de troco</select>
        </div>   
        <div class="opcao-2">
            <input type="radio">
            <img src="./img/visa.png" alt="">
            <select name="cd" id="">
                <option value="debito">Débito</option>
                <option value="debito">Crédito</option>
            </select>
            </div>    
        <div class="opcao-3">
            <input type="radio">
            <img src="./img/mastercard.png" alt="">
            </div>    
            
            <div class="opcao-4">
                <input type="radio">
                <img src="./img/tickte.png" alt="">
                </div>    
            
            <div class="opcao-5">
                <input type="radio">
                <img src="./img/elo.png" alt="">
                </div>    
            
            <div class="opcao-6">
                <input type="radio">
                <img src="./img/sodex.png" alt="">
                </div>    
            
             
        </div>
    </section>
</div>
    <!-- FOOTER -->
<footer>
<div class="caixa1-footer">
    <div class="rodape-text">
        <p>Copyrigth © 2021 Best Burger </p>
    </div>
</div>
<div class="caixa2-footer">
    <div class="rodape-redes">
        <a href="">
            <img src="/img/icone-whats.png" alt="icone-whats">
        </a>
        <a href="">
            <img src="/img/icone-facebook.png" alt="icone-facebook">
        </a>
        <a href="">
            <img src="/img/icone-instagram.png" alt="icone-instagram">
        </a>
    </div>
</div>
</footer>
</body>
</html>