<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./pagamentoEntrega.css">
    <script src="/pagamentoEntrega.js"></script>
    <title>Document</title>
</head>
<body>
     
    <h1>Forma de Pagamento</h1>
    <h2>Aceitamos as seguintes opções:</h2> 
    <div class="card">
     <div onclick="acao()">  
    <button >
        <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"></svg>
        <img src="./img/money.pi.png">
        <span>Visa - Débito/Crédito</span>              
      </button>
    </div> 
    <!-- MODAL -->
    <!-- <div class="modal">
      <div class="modal-content">
        <span>&times;</span>
        <h3>Você vai precisar de troco?</h3>
      </div>
    </div>   -->
      <button>
        <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"></svg>
        <img src="./img/visa.png">
        <span>Visa - Débito/Crédito</span>        
      </button>

      <button>
        <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"></svg>
        <img src="./img/mastercard.png">
        <span>Visa - Débito/Crédito</span>        
      </button>

      <button>
        <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"></svg>
        <img src="./img/elo.png">
        <span>Visa - Débito/Crédito</span>        
      </button>

      <button>
        <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"></svg>
        <img src="./img/tickte.png">
        <span>Visa - Débito/Crédito</span>        
      </button>

      <button>
        <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"></svg>
        <img src="./img/sodex.png">
        <span>Visa - Débito/Crédito</span>        
      </button>
    </div>
    <button class="botao">Finalizar pedido</button>
    
    <!-- MENU LATERAL -->
  <!--div class="container">
    <nav class="menu">

        <div class="menu-lateral">
            <div class="lateral">
                <div>
                    <a href=""><img src="/img/logo.png" alt="Logo"></a>
                </div>
                <div class="icone-menu">
                    <a href=""><img src="/img/perfil-left.png" alt="Perfil"></a>
                </div>
                <div class="icone-menu">
                    <a href=""><img src="/img/cardapio-left.png" alt="cardapio"></a>
                </div>
                <div class="icone-menu">
                    <a href=""><img src="/img/carrinho-left.png" alt="carrinho"></a>
                </div>
                <div class="icone-menu">
                    <a href=""><img src="/img/acompanha-pedido-left.png" alt="pedido"></a>
                </div>
                <div class="icone-menu">
                    <a href=""><img src="/img/sair-left.png" alt="sair"></a>
                </div>
            </div>
          </div>
    </nav>
  </div>
    <!--FOOTER-->
    <!--footer>
        <div class="caixa1-footer">
            <div class="rodape-text">
                <p>Copyrigth © 2021 Best Burger </p>
            </div>
        </div>
        <div class="caixa2-footer">
            <div class="rodape-redes">
                <a href="">
                    <img src="/img/icone-whats.png" alt="icone-whats">
                </a>
                <a href="">
                    <img src="/img/icone-facebook.png" alt="icone-facebook">
                </a>
                <a href="">
                    <img src="/img/icone-instagram.png" alt="icone-instagram">
                </a>
            </div>
        </div>
        </footer-->  
</body>
</html>