* {
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    color: #575757;
}

main {
    display: flex;
    flex-direction: row;
    border: 10px solid purple
}

nav {
    display: flex;
}

.menu {
    min-width: 20%;
    max-width: 10%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-lateral {
    width: 80px;
    height: 90vh;
    background: #0e0b0b;
    border-radius: 24px;
    box-shadow: 15px 5px 15px #c0c0c0;
    display: flex;
}

.lateral {
    width: 100%;
    height: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.icone-menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.icone-menu:hover {
    background-color: #FDBB10;
}

.icone-menu img:hover {
    filter: invert(100%)
}

.lateral img {
    width: 30px;
}

.teste {
    width: 100%;
}

.flexcardapio {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    width: 100vw;
    border: 10px solid green
}

.container-cardapio h1 {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 63px;
    /* identical to box height */
    color: #000000;
    width: 300px;
    border-style: solid;
    border-left: none;
    border-top: none;
    border-right: none;
    border-color: #FDBB10;
    padding: 0;
}

#cardapiotitulo {
    border: 1px solid black;
    margin-left: 5%;
}

ul {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    border-style: solid;
    border-left: none;
    border-top: none;
    border-right: none;
    border-color: #FDBB10;
}

nav ul li {
    display: inline-block;
    justify-content: row;
}

li a:hover {
    background-color: #FDBB10;
}


/* FLEXBOX IMAGENS */

button {
    background-color: #FDBB10;
    width: 200px;
    height: 25px;
    border-radius: 20px;
    border-style: none;
}

span {
    margin: 10px;
    font-size: 14px;
}

.bolinho {
    margin: 0
}

.preco {
    color: blue;
    font-size: 14px;
    margin: 05px;
}

.tudo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 70px;
    border: 10px solid red
}

.tudo img {
    border-radius: 20px;
    justify-content: space-around;
}

.flex {
    display: flex;
    justify-content: space-around;
    border: 10px solid blue
}

.flexbox-img {
    width: 200px;
    height: 250px;
    background-color: white;
    margin: 30px;
    border: 5px solid red
}

.flexbox-img2 {
    width: 200px;
    height: 250px;
    background-color: white;
    margin: 30px;
    border: 5px solid red
}

.flexbox-img3 {
    width: 200px;
    height: 250px;
    background-color: white;
    margin: 30px;
    border: 5px solid red
}

.flexbox-img4 {
    width: 200px;
    height: 250px;
    background-color: white;
    margin: 30px;
    border: 5px solid red
}

.flexbox-img5 {
    width: 200px;
    height: 250px;
    background-color: white;
    margin: 30px;
    border: 5px solid red
}

.flexbox-img6 {
    width: 200px;
    height: 250px;
    background-color: white;
    margin: 30px;
    border: 5px solid red
}

.flexbox-img7 {
    width: 200px;
    height: 250px;
    background-color: white;
    margin: 30px;
    border: 5px solid red
}

.flexbox-img8 {
    width: 200px;
    height: 250px;
    background-color: white;
    margin: 30px;
    border: 5px solid red
}

.semirodape {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    border: 10px solid black
}

.botao {
    background-color: black;
    width: 200px;
    height: 50px;
}

.botao a {
    color: white;
    text-transform: uppercase;
}

.botaowhats {
    display: flex;
    justify-content: flex-end;
    border: 10px solid blue
}

footer {
    background-color: #FDBB10;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    margin-bottom: 200px;
}

.caixa1-footer {
    width: 29%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa2-footer {
    width: 71%;
    display: flex;
    justify-content: flex-end;
}

.rodape-redes {
    width: 20%;
}