#Container-Pai { 
    /* background-color: #FF4655; */
    display: flex;
    height: 100%;
    width: 100%;
}

/*  */

#container-Header-E-Produtos {
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

/*  */

header {
    /* background-color: chartreuse; */
    height: 15vh
}

header h1 {
    width: 50%;
    font-size: 2.5rem;
    border-bottom: solid 5px #FDBB10;
}

/*  */

#produtos {
    /* background-color: darkgreen; */
    height: 85vh;
    display: flex;
}

#lista-Produtos {
    background-color:#FDBB10;
    width: 100%;
    margin: 5vh;
    margin-left: 0;
    list-style: none;
    border: 2px solid black;
}

.Item {
    /* background-color: brown; */
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 3vw;
    width: fit-content;
}

li a p {
    margin: 20px;
}

li img {
    width: 70px;
    border-radius: 50%;

}

li a {
    display: flex;
    align-items: center;
}

a {
    color: black;
}

/*  */

#container-Subtotal-Cupom {
    /* background-color: yellowgreen; */
    height: fit-content;
    width: 20%;
    margin-top: 15vh;
    margin-right: 3vw;
}

#container-Subtotal-Cupom h3 {
    font-size: 1.5rem;
}

#container-Subtotal {
    background-color: goldenrod;
    height: 30vh;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black
}

#container-Subtotal h3 {
    margin-bottom: 10px;
}

#container-Subtotal p {
    font-size: 1.2rem;
}

#botaoConfirmar {
    background-color:#0e0b0b;
    color: #c0c0c0;
    height: 6vh;
}

#container-Cupom {
    background-color: goldenrod;
    height: 30vh;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black
}

#formDoCupom {
    display: flex;
    flex-direction: column;
}

#inputCupom {
    height: 5vh;
    border: 1px solid black;
    padding: 5%;
}

#inputCupom::placeholder {
   font-size: 1rem;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#botaoCupom {
    background-color:#0e0b0b;
    color: #c0c0c0;
    margin-top: 3vh;
    height: 5vh;
}